Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@nuanyue 
jgthms
/
minireset.css
1.2k
39
1.9k322
 Code Issues 2 Pull requests 2 Actions Projects 0 Wiki Security Insights
minireset.css/minireset.css
@jgthms jgthms Fix #18
66b8b83 on 18 Oct 2019
@jgthms@rch850@schliflo
81 lines (71 sloc)  690 Bytes
  
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}
html,body{
  height: 100%;
  width: 100%;
}

#root{
  height: 100%;
  width: 100%;
}
